<% include ../layouts/header %>
    <h1><%- listing.title %></h1>
    <p><%- listing.company.companyName %></p>
    <br>
    <p><%- listing.description %></p>
    <% if(type === 'company') { %>
        <h2>Referrals for this Job</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Referral</th>
                    <th>Referrer</th>
                    <th colspan="4">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% console.dir(listing) %>
                <% for(let refer of listing.referrals){%>
                <tr>
                    <td><%- refer.referred.firstName %> <%- refer.referred.lastName %></td>
                    <td><%- refer.referrer.firstName %> <%- refer.referred.lastName %></td>
                    <td><a href="/listings/<%- listing.id %>/referral/<%- refer.id %>" class="btn btn-primary">View Submission</a></td>
                    <td><a href="/users/<%- refer.referred.id%>" class="btn btn-default">View Referred Profile</a></td>
                    <td><a href="/users/<%- refer.referrer.id%>" class="btn btn-warning">View Referrer Profile</a></td>
                    <td>
                       <a href="/listings/<%- listing.id %>/referral/<%- refer.id %>/accept" class="btn btn-success">Accept Submission</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
<% include ../layouts/footer %>