<% include ../layouts/header %>
    <h1>Referral for <%- referral.listing.title %></h1>
    <small>Referred: <%- referral.referred.firstName %> <%- referral.referred.lastName %> - >Referrer: <%- referral.referrer.firstName %> <%- referral.referrer.lastName %></small>
<% include ../layouts/footer %>